nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff5f5;
  color: rgb(0, 0, 0);
}

nav h2 {
  cursor: pointer;
  font-size: 16px;
}