nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 6px 40px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  /* Glass effect */
  background: rgba(255, 255, 255, 0.078);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.12);

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);

  .logo {
    font-family: "Space Grotesk", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2px;
    cursor: pointer;
    user-select: none;
    color: var(--khaki)
  }
  .nav-btns {
    display: flex;
    gap: 20px;

    a{
      text-decoration: none;
      color: WHITE;
      font-family: "Space Grotesk", sans-serif;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: -1px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--khaki);
        transform: scale(1.1);
      }
    }
  }
}

nav h2 {
  cursor: pointer;
  font-size: 16px;
}